# Node y dependencias (Paso 1)
node_modules/
dist/
npm-debug.log*

# Sistema Operativo (Paso 1)
.DS_Store
Thumbs.db
desktop.ini

# Editor y Configuración (Paso 1)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
